/***************/
/* Blog styles */
/***************/

.blog-content-wrapper {
  display: grid;
  grid-template-columns: 220px max-content;
  padding-left: 12px;
  padding-right: 12px;
  bottom: 0;
}

/*********************/
/* table of contents */
/*********************/

.blog-toc-title {
  display: flex;
  font-size: 24px;
  font-weight: 575;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 24px;
}

.blog-toc-item-wrapper {
  display: flex;
  padding-left: 25px;
  padding-bottom: 5px;
  justify-content: flex-start;
}

.blog-toc-item-wrapper a {
  color: #646464;;
  text-decoration: none;
  transition: color 0.5s;
}

.blog-toc-item-wrapper:hover a {
  color: #000000;
}

/*******************************/
/* blog articles and summaries */
/*******************************/

.blog-items-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 52px;
  padding-top: 16px;
  padding-bottom: 32px;
  border-left: 1px solid #000000;
}

.blog-item-wrapper {
  position: relative;
  padding-top: 16px;
  padding-right: 5px;
  padding-bottom: 7px;
}

.blog-name {
  display: flex;
  justify-content: flex-start;
}

.blog-name a {
  display: flex;
  color: #646464;;
  text-decoration: none;
  transition: color 0.5s;
  justify-content: flex-start;
}

.blog-name:hover a {
  color: #000000;
}

.blog-description {
  display: grid;
  color: #202020;
  padding-left: 5px;
}

.blog-description p {
  font-size: 16px;
  margin: 3px;
}

.blog-description ul {
  margin: 5px;
}

/*******************/
/* article content */
/*******************/

.article-content-wrapper {
  padding-left: 32px;
}

.article-body h1 {
  display: flex;
  font-weight: 570;
  justify-content: flex-start;
}

.article-body h2 {
  display: flex;
  justify-content: flex-start;
  padding-left: 7px;
}

.article-body h3 {
  display: flex;
  justify-content: flex-start;
  padding-left: 7px;
}

.article-body h4 {
  display: flex;
  justify-content: flex-start;
  padding-left: 7px;
}
