/********************/
/* Portfolio styles */
/********************/

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 0px;
  bottom: 0;
}

.portfolio-items2-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 0;
  border-top: 0px;
}

.portfolio-item-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.img-text-wrapper .subtitle {
  font-weight: 500;
  transition: 1s;
  font-size: 42px;
  color: transparent;
  position: absolute;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 500;
  font-size: 42px;
  color: white;
  position: absolute;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img-wrapper img {
  width: 100%;
  height: 500px;
  transition: 1s;
}

.img-wrapper:hover img {
  width: 100%;
  height: 500px;
  filter: brightness(50%);
}
