:root {
  --ff-primary: sans-serif;

  --ff-body: var(--ff-primary);
  --ff-header: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
}

/***************/
/* Main styles */
/***************/

body {
  margin: 0px;
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/**************/
/* Nav styles */
/**************/

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer-nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  padding-bottom: 24px;
}

.brand > .brand-logo-wrapper {
  height: 42px;
  justify-content: left;
}

.brand-logo-wrapper img {
  height: 42px;
  width: auto;
}

.brand-name {
  justify-content: left;
  font-size: 32px;
  font-weight: 525;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side > div {
  margin-right: 20px;
  font-size: 0.9em;
}

.nav-link-wrapper {
  height: 16px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important
}

/********************/
/* Portfolio styles */
/********************/

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 0px;
  bottom: 0;
}

.portfolio-items2-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 0;
  border-top: 0px;
}

.portfolio-item-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.img-text-wrapper .subtitle {
  font-weight: 500;
  transition: 1s;
  font-size: 42px;
  color: transparent;
  position: absolute;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 500;
  font-size: 42px;
  color: white;
  position: absolute;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img-wrapper img {
  width: 100%;
  height: 420px;
  transition: 1s;
}

.img-wrapper:hover img {
  width: 100%;
  height: 420px;
  filter: brightness(50%);
}

/****************/
/* About styles */
/****************/

.about-content-wrapper {
  display: grid;
  grid-template-columns: 200px max-content;
}

.about-img-wrapper {
  display: flex;
  padding-right: 16px;
  justify-content: left;
}

.about-img-wrapper img {
  height: auto;
  width: 100%;
}

.about-wrapper {
  display: flex;
  width: 100%;
  justify-content: left;
}

/***************/
/* Blog styles */
/***************/

.blog-content-wrapper {
  display: grid;
  grid-template-columns: 128px max-content;
  padding-left: 12px;
  padding-right: 12px;
  bottom: 0;
}

.blog-items-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 12px;
}

.blog-item-wrapper {
  position: relative;
  padding-top: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

.article-body {
  padding: 42px;
  padding-top: 0px;
}
